In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [13]:
import pandas as pd
df= pd.read_csv("/content/drive/MyDrive/internship-test2-master/input/question-1/main.csv")
df.head(10)

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg
5,1001,tomato,vegetable,2021-11-06,2.99,20,kg
6,1001,tomato,vegetable,2021-11-07,2.99,21,kg
7,1001,tomato,vegetable,2021-11-08,2.99,20,kg
8,1001,tomato,vegetable,2021-11-09,2.99,31,kg
9,1001,tomato,vegetable,2021-11-10,2.99,34,kg

In [14]:
df.isnull().sum()

product_code            0
product_description     0
product_group           0
sales_date              0
price                  16
sales_quantity          0
unit                    0
dtype: int64

In [15]:
def Fill_price(price_temp):
  return df[df['product_description'] == price_temp]["price"].mean()

In [16]:
df['price'] = df['product_description'].apply(Fill_price)

In [17]:
df.isnull().sum()

product_code           0
product_description    0
product_group          0
sales_date             0
price                  0
sales_quantity         0
unit                   0
dtype: int64

In [28]:
print(df)

     product_code product_description product_group  sales_date      price  \
0            1001              tomato     vegetable  2021-11-01   3.121034
1            1001              tomato     vegetable  2021-11-02   3.121034
2            1001              tomato     vegetable  2021-11-03   3.121034
3            1001              tomato     vegetable  2021-11-04   3.121034
4            1001              tomato     vegetable  2021-11-05   3.121034
..            ...                 ...           ...         ...        ...
295          1203         butter-0.25         dairy  2021-11-26  11.400000
296          1203         butter-0.25         dairy  2021-11-27  11.400000
297          1203         butter-0.25         dairy  2021-11-28  11.400000
298          1203         butter-0.25         dairy  2021-11-29  11.400000
299          1203         butter-0.25         dairy  2021-11-30  11.400000

     sales_quantity unit
0                36   kg
1                23   kg
2                34   kg
3                23   kg
4                34   kg
..              ...  ...
295              31  pcs
296              29  pcs
297              37  pcs
298              34  pcs
299              36  pcs

[300 rows x 7 columns]

In [27]:
df.to_csv('/content/drive/MyDrive/internship-test2-master/output/answer-1/output1.csv')